body {background-color: Gray}

header {background-image: url('/static/gray.jpg');
	width: 800px;
    height: 300px;
    margin:auto;
    position:relative;}

#myself {margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 0px;
    margin-right: 50px;
    float:left;}

#text {position:absolute;
	top: 20px;
	left: 350px;}

#nav {position:absolute;
    top: 230px;
    left: 100px;}

a.nav {margin:10px;}

article {background-color:white;
    width: 800px;
    height:550px;
    margin:auto;
    position:relative;
    top:-20px;}

.content {position:relative;
    top: 30px;
    left: 20px;
    margin-right: 20px;}
